<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>295845474213-1hcuu26l5pp22q1itk8fldp8ukqbuo8n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.295845474213-1hcuu26l5pp22q1itk8fldp8ukqbuo8n</string>
	<key>API_KEY</key>
	<string>AIzaSyAWe0ZlRmAnqnP8UZFFKCAXoITQte5mYQI</string>
	<key>GCM_SENDER_ID</key>
	<string>295845474213</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ubsa.UBSA</string>
	<key>PROJECT_ID</key>
	<string>ubsa-fb</string>
	<key>STORAGE_BUCKET</key>
	<string>ubsa-fb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:295845474213:ios:def5e13d982bb6e4</string>
	<key>DATABASE_URL</key>
	<string>https://ubsa-fb.firebaseio.com</string>
</dict>
</plist>